html {
  min-height: 100vh;
}
body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
}

.sidebar {
  width: 250px;
  height: 100vh;
  border-right: 1px solid #eee;
  position: fixed;
  background-color: #eee;
}

.main {
  margin-left: 250px;
  width: 100%;
}
